<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
<script src="/js/app/weather-main.js"></script>
</body>
</html>