{{>layout/header}}


<section class="section is-gray-lighter">
    <div class="container">
        <div class="tile is-ancestor is-vertical">
            <!-- 검색 영역 -->
            <div class="columns">
                <div class="column">
                    <span>FROM</span>
                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input type="text" id="datepicker-start" aria-label="Date-Time">
                        <span class="tui-ico-date"></span>
                    </div>
                    <div id="start-wrapper" style="margin-top: -1px;"></div>
                </div>
                <div class="column">
                    <span>TO</span>
                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input type="text" id="datepicker-end" aria-label="Date-Time">
                        <span class="tui-ico-date"></span>
                    </div>
                    <div id="end-wrapper" style="margin-top: -1px;"></div>
                </div>
                <div class="column">
                    <span>장소</span>
                    <div class="select is-small">
                        <select id="location-code">
                            <option value="1">1:경일대</option>
                            <option value="2">2:울산 이예로</option>
                            <option value="3">3:대구 알파시티</option>
                            <option value="4">4:대구 KIAPI</option>
                            <option value="5">5:서울 상암</option>
                            <option value="6">6:경기 판교</option>
                            <option value="7">7:화성 KATRI</option>
                            <option value="8">8:안양 벤처밸리</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <div class="buttons">
                        <button class="button is-primary is-small" id="btn-search">Search</button>
                    </div>
                </div>
            </div>

            <!-- 목록 출력 영역 -->
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>날짜/시간</th>
                        <th>하늘상태</th>
                        <th>온도</th>
                        <th>습도</th>
                        <th>강수형태</th>
                        <th>강수량</th>
                        <th>풍속</th>
                        <th>풍향</th>
                        <th>동서바람성분</th>
                        <th>남북바람성분</th>
                        <th>낙뢰확률</th>
                    </tr>
                </thead>
                <tbody id="weather-table"></tbody>
            </table>

            <!-- Pagination 영역 -->
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a class="pagination-previous">이전</a>
                <a class="pagination-next">다음</a>
                <ul class="pagination-list"></ul>
            </nav>
        </div>
    </div>
</section>

{{>layout/footer}}
