<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wowls.dms.mapper.WeatherMapper">

    <select id="getWeather" parameterType="WeatherRequestDto" resultType="String">
        <![CDATA[
            SELECT *
            FROM weather
            WHERE weather_data->'$.date' = #{startDate}
            AND weather_data->'$.location_code' = #{locationCode}
        ]]>
    </select>
</mapper>